.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #4e5d6c;
  }
  